name: Generate clients

on:
  push:
  workflow_dispatch:

jobs:
  generate-sdk:
    runs-on: ubuntu-latest
    name: Generate Go SDK
    steps:
      - uses: actions/checkout@master
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'
      - name: Cleanup old client
        run: rm -rf go-client/
      - name: Generate new client
        uses: openapi-generators/openapitools-generator-action@v1
        with:
          generator: go
          openapi-url: https://raw.githubusercontent.com/Crspy2/developers/main/api-reference/openapi.json
          
          command-args: -o ./ --additional-properties packageName=sellix,module=github.com/crspy2/sellix-go/go-client --git-repo-id sellix-go --git-user-id crspy2
      
      - name: Tidy Go Modules
        run: go mod tidy
      - name: Run Go Tests
        run: go test ./test
      
      - name: Commit new client
        run: |
          git config --global user.name 'Crspy'
          git config --global user.email 'crspy8687@gmail.com'
          git add go-client/
          git commit -am "Update golang client"
          git push

      - name: Tag Release
        id: tag_release
        run: |
          TAG="v$(date +%Y.%m.%d.%H%M%S)"
          echo "TAG=$TAG" >> $GITHUB_ENV
          git tag -a $TAG -m "Release $TAG"
          git push origin $TAG

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.TAG }}
          release_name: "Go SDK Release ${{ env.TAG }}"
          draft: false
          prerelease: false

      - name: Make Package Searchable
        run: |
          GOPROXY=proxy.golang.org go list -m github.com/crspy2/sellix-go@${{ env.TAG }}
